<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%-5level %logger{36} - %msg%n</Pattern>
    </layout>
  </appender>

  <logger name="org.nrh.scream.Solver$" level="DEBUG" />
  <logger name="org.nrh.scream.BacktrackingSolver" level="DEBUG" />
  <logger name="org.nrh.scream.State" level="DEBUG" />
<!--
  <logger name="org.nrh.scream.MultiplicationConstraint" level="DEBUG" />
  <logger name="org.nrh.scream.DifferenceConstraint" level="DEBUG" />
  <logger name="org.nrh.scream.InEqualityConstraint" level="DEBUG" />
  <logger name="org.nrh.scream.EqualityConstraint" level="DEBUG" />
  <logger name="org.nrh.scream.AdditionConstraint" level="DEBUG" />
  <logger name="org.nrh.scream.Constraint" level="DEBUG" />
  
<logger name="org.nrh.scream.DefaultDomain" level="DEBUG" /> -->
  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>


